{% extends 'views/base.html' %} {% block title %} BY Category{% endblock %} {% block content %}
<div class="container text-center main">
    <div class="table-responsive ">

        <form action="" method=" get ">
            {{ filter.form }}
            <button class="btn btn-primary" type="Submit">Search</button>
        </form>
        <table class="table table-hover table-fixed ">
            <tr style="background-color: rgb(250, 128, 128); color:white; ">
                <th>Store Number</th>
                <th>Name </th>
                <th>District</th>
                <th>Location</th>
            </tr>
            {% for list in offers %}
            <tr>
                <td>{{list.storenumber}}</td>
                <td>{{list.name}}</td>
                <td>{{list.district}}</td>
                <td>{{list.district}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}